.commentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  .comment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .comment-img {
      width: 50px;
      height: 50px;
      border-radius: 70%;
      overflow: hidden;
      margin-right: 0.8rem;
      .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
      }
    }

    .comment-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
    }
  }
}
