@font-face {
  font-family: '777Balsamtint';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: '777Balsamtint';
}

.content {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 5rem;
  margin-right: 0.1rem;
}
.content-img {
  max-width: 850px;
  max-height: 800px;
}
.postView {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.8rem 0;
}

.mainLanguageBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .languageContainer {
    width: 80%;
    .languageBar {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 1rem;
      max-width: 1210px;
      margin-top: 5rem;
      // margin-bottom: 5rem;
    }

    .languageItem {
      margin-right: 0.75rem;
      margin-left: 0.75rem;
      font-size: 30px;
    }
  }
}

.postList {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    font-size: 30px;
  }
}
.postList-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #eae8e8;
  margin-top: 50px;
}
@media screen and (max-width: 1450px) {
  .content {
    font-size: 2rem;
    line-height: 3rem;
  }
  .content-img {
    width: 60%;
    height: auto;
    padding: 3rem;
    min-width: 430px;
  }
}

@media screen and (max-width: 1026px) {
  .MainImageContainer {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .nodataImg {
    max-width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .content {
    font-size: 1.5rem;
  }

  .nodataImg {
    max-width: 300px;
    height: auto;
  }
  .footer {
    div,
    p {
      font-size: 10px;
      padding: 5px;
    }
    .footer-img {
      max-width: 150px;
      height: auto;
    }
  }
}

// 말풍선 영역

.balloon,
.balloon2,
.balloon3,
.balloon3,
.balloon4,
.balloon5,
.balloon6,
.balloon7,
.balloon8,
.balloon9 {
  position: relative;
  top: 0;
  // margin: 50px;
  width: 100%;
  height: 500px;
  background: pink;
  border-radius: 10px;
  // left: 200px;
  animation: tilt-in-fwd-tl 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-10deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    transform: rotateY(-10deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
