@import './color.scss';
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.main-container {
  width: 100vw;
  height: 100vh;
}
.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'IBMPlexSansKR-Regular';
}

.content {
  font-size: 2.5rem;
  // font-weight: bolder;
  line-height: 4rem;
  margin-right: 0.1rem;
  -webkit-animation: fade-in-top 0.8s linear both;
  animation: fade-in-top 0.8s linear both;
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.subcontent {
  margin-top: 0.3rem;
  -webkit-animation: fade-in-top 1.5s linear both;
  animation: fade-in-top 1.5s linear both;
}

.content-img {
  max-width: 850px;
  max-height: 800px;
}
.postView {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.8rem 0;
}

.mainLanguageBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  .languageContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .languageBar {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      max-width: 1210px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .languageItem {
      margin-right: 0.75rem;
      margin-left: 0.75rem;
      font-size: 30px;
    }
    .done {
      margin-right: 0.75rem;
      margin-left: 0.75rem;
      font-size: 30px;
      color: #ccc;
    }
    .done:hover {
      transform: scale(1.06);
      cursor: pointer;
    }
    .languageItem:hover {
      transform: scale(1.06);
      // background: #fff;
      // box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
}

.postList {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    min-width: 75px;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    font-size: 2rem;
    cursor: pointer;
  }
  span:hover {
    font-weight: 700;
  }
  i {
    padding: 0.5rem;
  }
}

.postList-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}
.fa-clock {
  color: black;
}

.fa-hotjar {
  color: red;
}

.fa-chevron-circle-up {
  position: fixed;
  z-index: 10;
  right: 2rem;
  bottom: 2rem;
  color: #c48eee;
}
.fa-chevron-circle-up:hover {
  cursor: pointer;
}

@media screen and (max-width: 1450px) {
  .content {
    font-size: 2rem;
    line-height: 3rem;
  }
  .content-img {
    width: 60%;
    height: auto;
    padding: 3rem;
    min-width: 430px;
  }
  .subcontent {
    margin-top: 0.3rem;
    font-size: smaller;
  }
}

@media screen and (max-width: 1026px) {
  .MainImageContainer {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .nodataImg {
    max-width: 80%;
    height: auto;
  }

  .content {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .content {
    font-size: 1.5rem;
  }
  .postList li {
    font-size: 1.3rem;
  }

  .nodataImg {
    max-width: 300px;
    height: auto;
  }
  .footer {
    div,
    p {
      font-size: 10px;
      padding: 5px;
    }
    .footer-img {
      max-width: 150px;
      height: auto;
    }
  }
}

// 말풍선 영역

.balloon,
.balloon2,
.balloon3,
.balloon3,
.balloon4,
.balloon5,
.balloon6,
.balloon7,
.balloon8,
.balloon9 {
  position: relative;
  top: 0;
  // margin: 50px;
  width: 100%;
  height: 500px;
  background: pink;
  border-radius: 10px;
  // left: 200px;
  animation: tilt-in-fwd-tl 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-10deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    transform: rotateY(-10deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

// PostList영역
.postMain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  .postList-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 2rem;
    .nodata {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .postList-box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 15rem;
      height: 15rem;
      margin: 0.625rem;
      padding: 1.5rem;
      background: #ffffff;
      // box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
      border: 0.1rem solid #ccc;
      border-radius: 1.5rem;
      position: relative;
      cursor: pointer;
      transition: transform 200ms ease-in;

      .postListContainer {
        .postList-title {
          display: flex;
          max-width: 170px;
          justify-content: center;
          align-items: center;
          font-size: large;
        }
        .postList-img {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 150px;
          height: 150px;
          img {
            width: auto;
            height: auto;
            max-width: 80px;
            max-height: 80px;
          }
          p {
            font-size: 12px;
          }
        }

        .postListContainer-bottom {
          display: flex;
          justify-content: space-around;
          align-items: center;
          .list-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .postList-box:hover {
      transform: scale(1.02);
      box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    }
  }
}
