@import 'color.scss';

.fullBox {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.01;
  z-index: 998;
}

.MypageMain {
  cursor: pointer;
  margin-right: 0.5rem;
}

.MypageMain:hover {
  color: $color-button;
}
.mypage-menu {
  display: none;
}

.chatting:hover,
.userInfo:hover,
.logout:hover {
  cursor: pointer;
  color: rgb(58, 86, 133);
}
.active {
  transition: all 0.3s linear;
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
  width: 10rem;
  top: 3.5rem;
  right: 15px;

  position: absolute;
  z-index: 20;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 1rem;
  background: $color-logo;
  justify-content: center;
  align-items: center;
  z-index: 999;
  li {
    padding: 0.8rem;
    color: white;
  }
}
