@import './color.scss';
nav {
  height: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background: $color-main;

  .nav-logo-full {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    padding-top: 1rem;
  }

  .nav-logo-small {
    display: none;
  }
}
.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    cursor: pointer;
    margin-right: 0.7rem;
    font-weight: bolder;
  }
  span:hover {
    color: #870cec;
  }
}
.userControl {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin: 5px;
  }
}

.userControlSignin {
  cursor: pointer;
  margin-right: 0.5rem;
}
.userControlSignin:hover {
  color: #870cec;
}

@media screen and (max-width: 880px) {
  nav {
    .nav-logo-full {
      display: none;
    }

    .nav-logo-small {
      display: inline-block;
      min-width: 3rem;
      height: 3rem;
      background: {
        position: center;
      }
    }
  }
}
