.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  .postContainer {
    width: 80%;
    .postHeader {
      display: flex;
      align-items: center;
      .postTitle {
        font-size: 3rem;
        font-weight: bold;
        outline: none;
        padding-bottom: 0.5rem;
        border: none;
        border-bottom: 1px solid #ced4da;
        margin-bottom: 2rem;
        width: 80%;
        height: 4rem;
      }
    }

    .postControl {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .postedit {
      background-color: #d3a4f9;
      color: white;
      border-radius: 2rem;
      padding: 10px 20px;
      font-size: 14px;
      margin-right: 1.5rem;
      border: none;
    }
    .postedit:hover {
      color: #870cec;
      font-weight: 700;
    }
    .postdelete {
      background-color: #d3a4f9;
      color: white;
      border-radius: 2rem;
      padding: 10px 20px;
      font-size: 14px;
      margin-right: 1.5rem;
      border: none;
    }
    .postdelete:hover {
      color: #870cec;
      font-weight: 700;
    }
    .postlist {
      background-color: #d3a4f9;
      color: white;
      border-radius: 2rem;
      padding: 10px 20px;
      font-size: 14px;
      border: none;
    }
    .postlist:hover {
      color: #870cec;
      font-weight: 700;
    }
    .postLanguages {
      display: flex;
      width: 80%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-items: center;
      h2 {
        margin-right: 1.5rem;
      }
      .postLanguages-view {
        display: flex;

        div {
          margin-left: 0.5rem;
          background-color: #d3a4f9;
          border-radius: 3rem;
          padding: 0.5rem;
        }
      }
      .postLanguages-edit {
        display: none;
      }
    }

    .postComments {
      width: 85%;
    }
    .postComment {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      textarea {
        height: 100px;
        width: 100%;
        text-align: left;
        letter-spacing: 0.9px;
        resize: none;
        margin: 1rem;
      }
      .postComment-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
