.postUserInfo {
  display: flex;
  align-items: center;
  width: 100%;

  .postUserInfo-img {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 0.8rem;
    .profile {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 10;
    }
  }
  .postNickname {
    width: 55px;
  }
  .postUserInfo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    i {
      font-size: 40px;
    }
  }
}
