.postUserInfo {
  display: flex;
  align-items: center;
  width: 100%;

  .postUserInfo-img {
    min-width: 20px;
    min-height: 20px;
    max-width: 50px;
    max-height: 90px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 0.8rem;
    .profile {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 10;
    }
  }
  .postNickname {
    width: 550px;
  }
  .postUserInfo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    i {
      font-size: 1.5rem;
      margin: 1.5rem;
    }
  }
}
