@import './color.scss';
.SignupMain {
  padding: 0.4rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.5rem;
}

.SignupForm {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: #ffffff;
  align-items: center;
  border-radius: 1.5rem;

  input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    height: 0.7rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    background-color: #f5e9ff;
  }

  input:focus {
    box-shadow: 0 0 0 2px $color-button;
  }

  span {
    font-size: 0.7rem;
    margin-bottom: 1rem;
    color: $color-button;
  }
}

.SignupP {
  font-size: 0.9rem;
  line-height: 1rem;
  margin-top: 0.2rem;
  span {
    color: $color-button;
  }
}

.SignupCompoSignup {
  margin-top: 1rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  span {
    cursor: pointer;
    color: #000000;
    margin-left: 1rem;
  }
  span:hover {
    color: $color-button;
  }
}

.SignupBtn {
  font-family: 'IBMPlexSansKR-Regular';
  background-color: #c48eee;
  color: white;
  border-radius: 2rem;
  padding: 10px 50px;
  font-size: 14px;
  margin: 0.5rem;
  margin-top: 1.5rem;
  border: none;
}

.SignupBtn:hover {
  color: $color-button;
  font-weight: 700;
}

.BackSignup {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-flow: nowrap;
  span {
    cursor: pointer;
    margin-left: 0.5rem;
    font-weight: 500;
    color: #000000;
  }
  span:hover {
    color: $color-button;
  }
}
.SignupGoogle {
  background-color: #ffffff;
  color: black;
  border-radius: 2rem;
  padding: 10px 30px;
  font-size: 14px;
  margin: 0.5rem;
}

.SignupGoogle:hover {
  color: $color-button;
  box-shadow: 0 0 0 1px $color-button;
  font-weight: 700;
}
