@import './color.scss';
.writeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.titleInput {
  font-size: 3rem;
  font-weight: bold;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 2rem;
  width: 80%;
  height: 4rem;
}
.writeLanguages {
  display: flex;
  width: 80%;
  margin-bottom: 1rem;
  align-items: center;
  h2 {
    min-width: 78px;
    margin-right: 0.5rem;
  }
}

.writeEditor {
  width: 80%;
}
.writBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin-top: 1rem;
  button {
    font-family: '777Balsamtint';
    min-width: 70px;
    background-color: #d3a4f9;
    color: white;
    border-radius: 2rem;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 1.5rem;
    border: none;
  }
  button:hover {
    color: #870cec;
    font-weight: 700;
  }
}

@media screen and (max-width: 700px) {
  .titleInput {
    font-size: 1.5rem !important;
  }
}
